body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: #3498db;
}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
}